In [111]:
## Variables in Python ##

In [51]:
x = 20

print (x)

20

In [5]:
type (x)

int

In [49]:
y='Rishi Raj'

print (y)
type (y)

Rishi Raj

str

In [ ]:
##Assigning string,floating point(just to check).

In [33]:
print (y)
type (y)

Rishi Raj

str

In [47]:
z=1.2445

print (z)
type (z)

1.2445

float

In [61]:
y = 'Rishi'

print (y) # Here we can see that we can overassign different data or values again to a same variable.

Rishi

In [63]:
y = 'Rishi'
y= 'Rishi Raj'

print (y) # So, here it is giving result as Rishi Raj because first it assign 'Rishi' as a value at first line, 
          # but after coming to the second line it again assign 'Rishi Raj' to the variable (y) and hence the result is Rishi Raj.
          # NOTE:Variables are case sensitive(Upper case and Lower case are different).

Rishi Raj

In [ ]:
##Assigning multiple values to multiple variables.

In [41]:
x,y,z = 'Apple','Banana','Mango'

print (x)
print (y)
print (z)

Apple
Banana
Mango

In [ ]:
##Assigning single value to multiple variables.

In [53]:
x=y=z = 'Apple Mango Banana'

print (x)
print (y)
print (z)

Apple Mango Banana
Apple Mango Banana
Apple Mango Banana

In [ ]:
##Creating List

In [59]:
fruits_list=['Apple','Banana','Mango']

x,y,z = fruits_list

print (x)
print (y)
print (z)

Apple
Banana
Mango

In [ ]:
##Few Best Practices for Naming Variables:

In [67]:
#1.Camel Case
# -Test Variable Case
myFruitsList = 'Apple' # Here in this Camel Case of Naming Varible"the first character of the first word will be in lower case,and
                       # all the first character of all words will be in Upper case.

print(myFruitsList)

Apple

In [71]:
#2.Pascal Case
# -Test Variable Case
MyFruitsList = 'Apple' # Here in this pascal Case of Naming Varible"all the first character of all words will be in Upper case"

print(MyFruitsList)

Apple

In [93]:
#2.Snake Case (Most Popular and Compatible)
# -Test Variable Case
my_fruit_list = 'Apple'# Here in this Snake Case of Naming Varible"all the character of all words will be in Lower case and the words is separated by _"
                       # Also this is compatible in sql,mysql as well and is widely used in MS-Excel too.

print(my_fruit_list)

Apple

In [ ]:
##Using '+' sign in Varible

In [89]:
x = 'Apple is red' + 'Banana is yellow'

print (x)

Apple is redBanana is yellow

In [99]:
x = 'Apple is red' + ' , Banana is yellow' + '  ,  Mango is green ' + '.'

print (x)

Apple is red , Banana is yellow  ,  Mango is green .

In [95]:
y = 2 + 3

print (y)

5

In [105]:
x = 'Apple'
y = ' is'
z = ' red.'

print (x+y+z)

Apple is red.

In [107]:
x = 1
y = 2
z = 3

print (x+y+z)

6

In [109]:
##Using ',' in order to overcome :
#       x = 'Apple'
#       y = ' 2'
#     print (x+y)
# To get the result as 'Apple 2' was not possible because of two different type of data types.
# But now we can get the result of 'Apple 2' using ',' comma sign.

x = 'Apple'
y = ' 2'
print (x,y)

Apple  2