In [ ]:
## Data Types in Python ##

In [ ]:
#1.Numrical Data Types

In [ ]:

#In Python, numerical data types are used to represent numbers. There are three main numerical data types:

#1.int (Integer):
# *Represents whole numbers without a decimal point.
# *Example: x = 10

#2.float (Floating-point number):
# *Represents real numbers (i.e., numbers that can have a decimal point).
# *Example: x = 3.14

#3.complex (Complex number):
# *Represents complex numbers, which have both a real and an imaginary part.
# *The imaginary part is denoted with a suffix j or J.
# *Example: x = 2 + 3j

#These data types are essential for performing arithmetic and other numerical operations in Python.

In [12]:
type(12) # Positive Value

int

In [14]:
type(-12) # Negative Value

int

In [16]:
type(-12+20) # Operational Value

int

In [22]:
type(-12+20.5) # Float(Decimal) Value

float

In [184]:
type(-12+20.5j) # Complex Value ( NOTE:Only 'j' or 'J' character can only be used as a suffix in imaginary number.

complex

In [ ]:
#2.Boolean Data Types (True or False)

In [ ]:

#In Python, the Boolean data type is used to represent one of two values: True or False. 
#These are the two possible values for a Boolean variable, and they are often used in conditional statements, loops, and logical operations.

#Key Points:
# *True and False: These are the only two valid values of the Boolean type. They are case-sensitive, so True and False must be capitalized.

# *Boolean Operations: You can use Boolean values with logical operators like:
#   1.and (returns True if both operands are True)
#   2.or (returns True if at least one operand is True)
#   3.not (returns the inverse Boolean value)

# *Conversion to Boolean: Any data type in Python can be converted to a Boolean. Here's how:
#  -Values like None, 0, False, and empty sequences ('', [], {}) are considered False.
#  -Other values are considered True.

In [26]:
type(True)

bool

In [28]:
type(False)

bool

In [30]:
type(1>5)#Used for Operation or Comparison.etc

bool

In [32]:
1>5 #Case 1

False

In [34]:
1 == 1 #Case 2

True

In [38]:
#3.Sequence Data Types(  Lists, Tuples, Strings, Ranges, Sets)

In [ ]:
#In Python, sequence data types are used to store multiple items in a single variable. 
#These types allow you to store and manage ordered collections of elements, where each element can be accessed by its index. 
#The main sequence data types in Python are:
#1.List:
# *A list is an ordered, mutable (changeable) collection of items.
# *Lists can hold elements of different types.
# *Syntax: my_list = [1, 2, 3, 'a', 3.14]

#2.Tuple:
# *A tuple is similar to a list but is immutable (cannot be changed after creation).
# *Tuples are ordered and can hold elements of different types.
# *Syntax: my_tuple = (1, 2, 3, 'a', 3.14)

#3.String:
# *A string is a sequence of characters (text).
# *Strings are immutable.
# *Syntax: my_string = "Hello, World!"

#4.Range:
# *A range is an immutable sequence of numbers, commonly used in loops.
# *Syntax: my_range = range(0, 10)

#5.Sets:
# *#In Python, a set is a built-in data type that represents an Unordered collection of unique elements.
# *Unlike lists or tuples, sets Do Not Allow Duplicate Values.
# *Syntax: my_set = {1,2,3,3,4}

#Key Properties of Sequence Data Types:
# *Ordered: The order of elements is preserved.
# *Indexable: Elements can be accessed using an index (starting from 0).
# *Iterable: These types can be iterated over in loops.
# *These sequence types allow for various operations, such as slicing, concatenation, and repetition.

In [ ]:
#3.Sequence Data Types(---Strings---)

In [ ]:

#In Python, a string is a sequence of characters enclosed in either single quotes (') or double quotes ("). 
#Strings can contain letters, numbers, symbols, and whitespace. 
#They are one of the most common data types in Python, used for working with text.

#String operations:
# *Concatenation: You can combine strings using the + operator.
# *Repetition: You can repeat strings using the * operator.
# *Length: You can get the length of a string using len().
# *Indexing and slicing: Strings are indexed, starting from 0. You can access characters using square brackets and an index.
# *Methods: Strings have several built-in methods like lower(), upper(), replace(), split(), etc.

In [76]:
'Single Quote'

'Single Quote'

In [72]:
"Double Quote"

'Double Quote'

In [78]:
triple_double_quote = """ #Also known as Multi-line which can include Double Quotes also.

Triple Double Quote 
Used for writing 
Multiples lines .

"""

In [48]:
print (triple_double_quote)

Triple Double Quote
Used for writing
Multiples lines .

In [62]:
#Use of Double Quote
# Double Quote is used to prevent syntax error if we have a single ( ' ) quote in the sentence or string.
" I'll always do 1% percent improvement in me  each and everyday, no matter what "

" I'll always do 1% percent improvement in me  each and everyday, no matter what "

In [64]:
#Use of Triple Double Quote
# Triple Double Quote is used to prevent syntax error if we have a double ( " ) quote in the sentence or string.
""" He said "I'll always do 1% percent improvement in me each and everyday , no matter what". """

' He said "I\'ll always do 1% percent improvement in me each and everyday , no matter what". '

In [66]:
triple_double_quote = """ He said "I'll always do 1% percent improvement in me  each and everyday , no matter what". """
print (triple_double_quote)

 He said "I'll always do 1% percent improvement in me  each and everyday , no matter what".

In [ ]:
##Searching String with INDEX

In [ ]:
#NOTE : String Indexing starts with 0 .
#Just give a glance to every code below you will understand it very easily:

In [102]:
a = 'Namaste to Everyone'
print (a[5])      #5th Position character. (NOTE:Index starts from 0) 

#Explanation:

#a = 'Namaste to Everyone': This creates a string variable a and assigns it the value 'Namaste to Everyone'.
#a[5]: The square brackets ([]) are used to access specific characters in the string a. Strings in Python are zero-indexed, which means indexing starts at 0.

#   a[0] is 'N'
#   a[1] is 'a'
#   a[2] is 'm'
#   a[3] is 'a'
#   a[4] is 's'
#   a[5] is 't'
#   print(a[5]): This will output the 6th character of the string (as indexing starts from 0), which is 't'.

t

In [118]:
a = 'Namaste to Everyone'
print (a[:5])    #Including 0 and return the word that comes before the 5th character.
                 # ':' is used for slicing.

Namas

In [122]:
a = 'Namaste to Everyone'
print (a[5:])           #Returning Everything after 5th and including 5th also becuase because ':' semi-colon sign is after the Character Index value.

te to Everyone

In [116]:
a = 'Namaste to Everyone'
print (a[-5])              #In negative sign Indexing starts from Reverse[-1]. 
                           #Negative Indexing:
                           #* a[-1] refers to the last character of the string.
                           #* a[-2] refers to the second-to-last character, and so on.

r

In [124]:
a = 'Namaste to Everyone'
print (a[:-5])          #Will exclude till the 5th character from reverse[-5] because ':' semi-colon sign is before the Character Index value.
                        #NOTE :  #In negative sign Indexing starts from Reverse[-1].

Namaste to Eve

In [126]:
a = 'Namaste to Everyone'
print (a[-5:])           #Since ':' semi-colon sign is after the Character Index value therefore, it will include the 5th character form Reverse.

#Explanation:
# 1.Negative Indexing:
# *Negative indices count from the end of the string.
# *a[-5] corresponds to 'r' (the 5th character from the end).

# 2.Slicing Syntax:
# *a[-5:] means "start from the character at index -5 and include all characters to the end of the string".

ryone

In [106]:
a = 'Namaste to Everyone'
print (a[2:5])              #Character 2nd -to- 5th (NOTE:Index starts from 0) 
                            #Explanation:
                            #*Slicing Syntax:
                            # a[2:5] extracts characters from index 2 (inclusive) to 5 (exclusive).
                            # The slice includes the characters at positions 2, 3, and 4.

mas

In [ ]:
#Arithmetic Operation in string

In [128]:
a*3

'Namaste to EveryoneNamaste to EveryoneNamaste to Everyone'

In [130]:
a + a

'Namaste to EveryoneNamaste to Everyone'

In [ ]:
#3.Sequence Data Types(---List---)

In [ ]:

#In Python, a list is a collection of items that is ordered, changeable (mutable), and allows duplicate elements. 
#Lists are one of the most commonly used data structures in Python because of their flexibility and ease of use.

#Key Features of Lists:
# *Ordered: The items in a list have a defined order, and the order will not change unless explicitly modified.
# *Mutable: You can change, add, or remove elements after the list is created.
# *Allows Duplicates: Lists can have multiple instances of the same element.
# *Can Contain Any Data Type: Lists can hold elements of different data types (e.g., integers, strings, or other lists).

In [134]:
[1,2,3,4,5]   #',' separates and shows that they are different values.
              # It has same Indexing Method as the String (Indexing starts from [0] and in Reverse Indexing starts from [1] or [-1]

[1, 2, 3, 4, 5]

In [136]:
['Apple','Banana','Mango']

['Apple', 'Banana', 'Mango']

In [138]:
['Apple','Banana',[1,2,3,4,5] , True ]   #ADVANTAGE: Different data types can be used in a single list and Nested List option is also available.

['Apple', 'Banana', [1, 2, 3, 4, 5], True]

In [146]:
fruits_name = ['Apple','Banana','Mango']
fruits_name.append ('Grapes')           #ADVANTAGE: We can also change or update the data,values or elements in the list even when time for calling.
fruits_name

['Apple', 'Banana', 'Mango', 'Grapes']

In [152]:
fruits_name [0] = 'Pineapple'#ADVANTAGE: We can change or update the elements of the list Even by the Particular Index.
fruits_name               # Here we have replaced the Index [0] element which was'Apple' to the Assigned Element at fruits_name [0] which is 'Pineapple'

['Pineapple', 'Banana', 'Mango', 'Grapes']

In [156]:
nested_list = ['Apple','Banana',[1,2,3,4,5] , True ] 
nested_list [2]

[1, 2, 3, 4, 5]

In [182]:
nested_list = ['Apple','Banana',[1,2,3,4,5] , True ] 
nested_list [2][3]    #Here we get the 3rd Index Element '4' of the 2nd Index Element that is [1,2,3,4,5]. NOTE:Indexing starts from [0].
#Perform trial and check here and guess the result for better understanding (Practise Here)

4

In [180]:
nested_list = ['Apple','Banana',[1,2,3,4,5] , True ] 
nested_list [2][3],['Rishi','Raj']     #Here we have added one more list to the result(output) that is  ['Rishi', 'Raj'].
#Perform trial and check here and guess the result for better understanding (Practise Here)

(4, ['Rishi', 'Raj'])

In [176]:
nested_list = ['Apple','Banana',[1,2,3,4,5] , True ] 
nested_list [1][3]    #Here we get the 3rd Index element 'a' of the 1st Index element 'Banana'. 
#Perform trial and check here and guess the result for better understanding (Practise Here)

'a'

In [ ]:
#3.Sequence Data Types(---Tuples---)

In [ ]:

#In Python, a tuple is a collection data type that is ordered and immutable (unchangeable). 
#Tuples are similar to lists, but unlike lists, once a tuple is created, Its Elements Cannot be Modified, Added(append), or Removed. 
#Tuples are commonly used to store multiple items in a single variable.
#Used for Examples like location,country name,city ,etc. Which do not need to change.

#Key Characteristics of Tuples:
# *Ordered: The elements in a tuple have a specific order. This means the elements can be accessed using an index.
# *Immutable: Once a tuple is created, it cannot be changed. This means no item can be added, removed, or modified.
# *Allow duplicates: Tuples can have multiple identical elements.
# *Can store mixed data types: A tuple can store items of different data types, such as integers, strings, and other tuples.

In [204]:
tuple_demo = (1,2,3,4,3,2,1)

In [206]:
type(tuple_demo)

tuple

In [208]:
tuple_demo[2]

3

In [ ]:
#3.Sequence Data Types(---Sets---)

In [ ]:

#In Python, a set is a built-in data type that represents an Unordered collection of unique elements.
#Unlike lists or tuples, sets Do Not Allow Duplicate Values. 
#Sets are useful for operations like membership testing, removing duplicates from a collection, 
# and performing mathematical set operations (union, intersection, difference, etc.).

#Key Characteristics of Sets:
# *Unordered: The elements in a set have no specific order.
# *Unique: A set does not contain duplicate values. If you try to add a duplicate item, it will be ignored.
# *Mutable: You can add or remove elements from a set.
# *Supports set operations: You can perform operations like union, intersection, difference, etc.

#Common Set Operations:
# *Add an element: set.add(element)
# *Remove an element:set.remove(element)(raises KeyError if element not found) or set.discard(element) (does not raise an error if element is not found)
# *Set Union: set1 | set2 or set1.union(set2)
# *Set Intersection: set1 & set2 or set1.intersection(set2)
# *Set Difference: set1 - set2 or set1.difference(set2)
# *Set Symmetric Difference: set1 ^ set2 or set1.symmetric_difference(set2)
# *Sets are highly efficient for membership tests and are commonly used for removing duplicates and performing set-based operations.

In [10]:
set_example = {1234}  #Curly Brackets are used.

In [6]:
print (set_example)

{1234}

In [8]:
type(set_example)

set

In [18]:
set_duplicates1 = {1,2,3,2,4,5,4,5,64,55,3,9,9,89,0,2,6,8,98,57,45}

print(set_duplicates)    #Here sets will provide only Unique Values as per it,s character.

{64, 1, 2, 3, 4, 5, 0, 6, 8, 9, 98, 45, 55, 89, 57}

In [ ]:
#Comparing two different sets

In [ ]:
#Getting Unique Values , using '|' sign.

In [24]:
set_duplicates1 = {1,2,3,2,4,5,4,5,64,55,3,9,9,89,0,2,6,8,98,57,45}
set_duplicates2 = {4,67,98,62,66,3,35,8,0,0,0.2,2,5,9,8,9,45,57,56}

print (set_duplicates1 | set_duplicates2)

#Explanation 
# *The duplicates within each set are removed when the sets are created.
# *The | operator ensures all unique elements from both sets are included in the result.
# *The resulting set is unordered and contains only unique values.

#About | sign : 
# *The | operator performs the union operation between two sets. 
# *This operation combines all the unique elements from both sets into a single set.

{64, 1, 2, 3, 4, 5, 0, 6, 8, 9, 66, 67, 89, 98, 35, 45, 0.2, 55, 56, 57, 62}

In [ ]:
#Getting Similar (Common) Values , using '&' sign.

In [26]:
print (set_duplicates1 & set_duplicates2)

{0, 2, 3, 4, 5, 98, 8, 9, 45, 57}

In [ ]:
#Getting set1 - set2 Values and vice-versa , using '&' sign.

In [30]:
print (set_duplicates1 - set_duplicates2)

#Explanation 
# *The - operator performs the difference operation between two sets.
# *set_duplicates1 - set_duplicates2 means: "Return all elements in set_duplicates1 that are not present in set_duplicates2."

#Key Notes:
# *Sets remove duplicates automatically, so repeated elements in the input are ignored.
# *The difference operation only retains elements from the first set (set_duplicates1) that are not found in the second set (set_duplicates2).
# *The result is also a set, which is unordered. The output might not appear in the same order every time you run the code.

{64, 1, 6, 55, 89}

In [32]:
print (set_duplicates2 - set_duplicates1)

{0.2, 66, 35, 67, 56, 62}

In [ ]:
#They are similar to JOINS in SQL.

In [ ]:
#Getting Symmeric Difference , using '&' sign.

In [36]:
 print (set_duplicates1 ^ set_duplicates2)

#Expanation
# *The ^ operator computes the symmetric difference of two sets.
# *The symmetric difference is the set of elements that are in either of the sets but not in both.

#Calculation:
# *Elements in set_duplicates1 but not in set_duplicates2:
# ={1, 6, 55, 64, 89}
# *Elements in set_duplicates2 but not in set_duplicates1:
# ={0.2, 35, 56, 62, 66, 67}

#Key Points:
# *Duplicates are removed automatically when defining a set.
# *The ^ operator is shorthand for the symmetric difference operation.
# *The symmetric difference only includes unique elements that are in either set but not shared by both.
# *This operation is useful for identifying differences between two datasets in Python.

{0.2, 66, 67, 6, 64, 1, 89, 35, 55, 56, 62}

In [ ]:
#4.Dictionaris Data Types

In [ ]:

#In Python, dictionaries are a built-in data type that allows you to store data as key-value pairs. 
#They are highly versatile and widely used for storing and retrieving data efficiently.

#Key Features of Dictionaries:
# *Key-Value Pair Structure: Each item in a dictionary is stored as a pair of a key and its corresponding value
# -Eg:    my_dict = {"name": "Alice", "age": 25, "city": "New York"}
#         Here, "name", "age", and "city" are the keys, and "Alice", 25, and "New York" are their respective values.
# *Unordered (Python < 3.7): Dictionaries do not maintain the order of items.Ordered (Python >= 3.7): The insertion order of items is preserved.
# *Mutable: Dictionaries can be modified by adding, updating, or deleting elements.
# *Keys are Unique: Duplicate keys are not allowed. If you assign a new value to an existing key, the old value is overwritten.
# *Keys are Immutable: Only immutable data types like strings, numbers, or tuples can be used as keys.

#Common Operations:
# *Create a Dictionary.
# *Access Values.
# *Add or Update Items.
# *Delete Items.
# *Check for a Key.
# *Iterate through a Dictionary.

#Built-in Methods:
# *keys(): Returns all keys.
# *values(): Returns all values.
# *items(): Returns key-value pairs.
# *get(key, default): Fetches a value; returns default if the key doesn't exist.
# *pop(key): Removes a key and returns its value.
# *clear(): Removes all items.

In [50]:
dict_fruits={'Yellow fruit':'Banana','Green fruit':'Guava','Total fruits':5,'Red fruits':['Apple','Straw Berry','Red Cherry']}

In [52]:
type (dict_fruits)

dict

In [54]:
print(dict_fruits)

{'Yellow fruit': 'Banana', 'Green fruit': 'Guava', 'Total fruits': 5, 'Red fruits': ['Apple', 'Straw Berry', 'Red Cherry']}

In [88]:
dict_fruits.keys()

dict_keys(['Yellow fruit', 'Green fruit', 'Total fruits', 'Red fruits'])

In [84]:
dict_fruits.values()

dict_values(['Banana', 'Guava', 5, ['Apple', 'Straw Berry', 'Red Cherry']])

In [86]:
dict_fruits.items()

dict_items([('Yellow fruit', 'Banana'), ('Green fruit', 'Guava'), ('Total fruits', 5), ('Red fruits', ['Apple', 'Straw Berry', 'Red Cherry'])])

In [ ]:
#Calling Dictionaries by Keys. NOTE:In list we can call elements using Index, But in Dictionaries we call it using Keys.

In [90]:
dict_fruits['Red fruits']

['Apple', 'Straw Berry', 'Red Cherry']

In [92]:
dict_fruits['Yellow fruit']

'Banana'

In [94]:
dict_fruits['Green fruit']

'Guava'

In [96]:
dict_fruits['Total fruits']

5

In [104]:
# Access the red fruits list
red_fruits = dict_fruits['Red fruits']

# Access items by index
print(red_fruits[0])  # Output: Apple
print(red_fruits[1])  # Output: Straw Berry
print(red_fruits[2])  # Output: Red Cherry

#Explalnation
# *red_fruits[0]: Accesses the first item in the list ('Apple').
# *red_fruits[1]: Accesses the second item in the list ('Straw Berry').
# *red_fruits[2]: Accesses the third item in the list ('Red Cherry').
# *If you want to print all items with their indices, you can use a loop:
#    -Eg:for index, fruit in enumerate(dict_fruits['Red fruits']):
#        print(f"Index {index}: {fruit}")

Apple
Straw Berry
Red Cherry

In [108]:
#Updating the Elements
dict_fruits['Yellow fruit'] = 'Mango'

print(dict_fruits)

{'Yellow fruit': 'Mango', 'Green fruit': 'Guava', 'Total fruits': 5, 'Red fruits': ['Apple', 'Straw Berry', 'Red Cherry']}

In [110]:
#Updating the Elements
dict_fruits['Yellow fruit'] = ['Mango','Banana','Papaya']

print(dict_fruits)

{'Yellow fruit': ['Mango', 'Banana', 'Papaya'], 'Green fruit': 'Guava', 'Total fruits': 5, 'Red fruits': ['Apple', 'Straw Berry', 'Red Cherry']}

In [112]:
dict_fruits['Total fruits'] = 7

print(dict_fruits)

{'Yellow fruit': ['Mango', 'Banana', 'Papaya'], 'Green fruit': 'Guava', 'Total fruits': 7, 'Red fruits': ['Apple', 'Straw Berry', 'Red Cherry']}

In [132]:
#Updating All at Once
dict_fruits.update({'Yellow fruit': ['Mango', 'Banana', 'Papaya'], 'Green fruit': 'Guava', 'Total fruits': 8
                   , 'Red fruits': ['Apple', 'Straw Berry', 'Red Cherry','Pommogranate']}
                  )

print(dict_fruits)

#NOTE:Using Update fuction you can only ADD ELEMENTS to Update NOT Delete and Update. For deletion we use .delete function.

{'Yellow fruit': ['Mango', 'Banana', 'Papaya'], 'Green fruit': 'Guava', 'Total fruits': 8, 'Red fruits': ['Apple', 'Straw Berry', 'Red Cherry', 'Pommogranate']}

In [ ]:
#Deleting in Dictionaries

In [134]:
del dict_fruits['Red fruits']

print(dict_fruits)

{'Yellow fruit': ['Mango', 'Banana', 'Papaya'], 'Green fruit': 'Guava', 'Total fruits': 8}