In [ ]:
##Converting Data Types##

In [ ]:
#In Python, converting data types refers to changing the type of a variable or value from one type to another. 
#This process is also called typecasting. 
#Python provides built-in functions for this purpose.

#Common Type Conversion Functions
#Here are some commonly used data type conversion functions in Python:

#1. Integer Conversion (int())
# *Converts a value to an integer type.

#     x = "10"   # String
#     y = int(x) # Converts to Integer
#     print(y)   # Output: 10

#Notes:
# *It truncates decimals when converting from float.
# *Conversion fails if the string contains non-numeric characters.

#2. Float Conversion (float())
# *Converts a value to a floating-point type.

#     x = "3.14"  # String
#     y = float(x) # Converts to Float
#     print(y)    # Output: 3.14

#3. String Conversion (str())
# *Converts a value to a string type.

#     x = 123      # Integer
#     y = str(x)   # Converts to String
#     print(y)     # Output: "123"

#4. Boolean Conversion (bool())
# *Converts a value to a boolean type.

#     x = 0      # Integer
#     y = bool(x) # Converts to Boolean
#     print(y)    # Output: False
#Rules:
# *0, None, "" (empty string), [] (empty list), and {} (empty dict) convert to False.
# *All other values convert to True.

#5. List Conversion (list())
# *Converts a sequence or iterable (e.g., string, tuple) to a list.

#     x = "abc"   # String
#     y = list(x) # Converts to List
#     print(y)    # Output: ['a', 'b', 'c']

#6. Tuple Conversion (tuple())
# *Converts a sequence or iterable to a tuple.

#     x = [1, 2, 3] # List
#     y = tuple(x)  # Converts to Tuple
#     print(y)      # Output: (1, 2, 3)

#7. Set Conversion (set())
# *Converts a sequence or iterable to a set (removing duplicates).

#     x = [1, 2, 2, 3] # List
#     y = set(x)       # Converts to Set
#     print(y)         # Output: {1, 2, 3}

#8. Dictionary Conversion (dict())
# *Converts a sequence of key-value pairs to a dictionary.

#     x = [("a", 1), ("b", 2)]   # List of tuples
#     y = dict(x)               # Converts to Dictionary
#     print(y)                  # Output: {'a': 1, 'b': 2}


#Examples of Type Conversion

# Implicit Conversion (done automatically)
#     x = 10       # Integer
#     y = 2.5      # Float
#     z = x + y    # Converts x to float during addition
#     print(z)     # Output: 12.5

# Explicit Conversion (manual typecasting)
#     a = "100"
#     b = int(a)   # Converts string to integer
#     print(b)     # Output: 100


#Notes:
# *Implicit Conversion: Python automatically converts one data type to another if needed (e.g., int to float during arithmetic).
# *Explicit Conversion: Requires using the conversion functions explicitly

In [45]:
#1. Integer Conversion (int())
# *Converts a value to an integer type.

x = "10"   # String
y = int(x) # Converts to Integer
print(y)   # Output: 10
type(y)

10

int

In [43]:
#2. Float Conversion (float())
# *Converts a value to a floating-point type.

x = "3.14"  # String
y = float(x) # Converts to Float
print(y)    # Output: 3.14
type(y)

3.14

float

In [47]:
#3. String Conversion (str())
# *Converts a value to a string type.

x = 123      # Integer
y = str(x)   # Converts to String
print(y)     # Output: "123"
type(y)

123

str

In [49]:
#4. Boolean Conversion (bool())
# *Converts a value to a boolean type.

x = 0      # Integer
y = bool(x) # Converts to Boolean
print(y)    # Output: False
type(y)

False

bool

In [51]:
#5. List Conversion (list())
# *Converts a sequence or iterable (e.g., string, tuple) to a list.

x = "abc"   # String
y = list(x) # Converts to List
print(y)    # Output: ['a', 'b', 'c']
type(y)

['a', 'b', 'c']

list

In [53]:
#6. Tuple Conversion (tuple())
# *Converts a sequence or iterable to a tuple.

x = [1, 2, 3] # List
y = tuple(x)  # Converts to Tuple
print(y)      # Output: (1, 2, 3)
type(y)

(1, 2, 3)

tuple

In [59]:
#7. Set Conversion (set())
# *Converts a sequence or iterable to a set (removing duplicates).

x = [1, 2, 2, 3] # List
y = set(x)       # Converts to Set
print(y)         # Output: {1, 2, 3}
type(y)
#NOTE:Set takes only unique values from the list.

{1, 2, 3}

set

In [57]:
#8. Dictionary Conversion (dict())
# *Converts a sequence of key-value pairs to a dictionary.

x = [("a", 1), ("b", 2)]   # List of tuples
y = dict(x)               # Converts to Dictionary
print(y)                  # Output: {'a': 1, 'b': 2}
type(y)

{'a': 1, 'b': 2}

dict

In [19]:
num_int = 7
type(num_int)

int

In [21]:
num_str = '7'
type(num_str)

str

In [35]:
num_str_converted = int(num_str) #Here we have converted 'num_str' into 'int' type to perform SUM. 
type(num_str_converted)

int

In [41]:
print(num_int + num_str_converted)

14

In [65]:
long_str = "Namaste myself Rishi Raj"
set(long_str) #NOTE:Set takes only unique values from the list.

{' ', 'N', 'R', 'a', 'e', 'f', 'h', 'i', 'j', 'l', 'm', 's', 't', 'y'}