In [ ]:
## Data Types in Python ##

In [ ]:
#1.Numrical Data Types

In [12]:
type(12) # Positive Value

int

In [14]:
type(-12) # Negative Value

int

In [16]:
type(-12+20) # Operational Value

int

In [22]:
type(-12+20.5) # Float(Decimal) Value

float

In [20]:
type(-12+20.5j) # Complex Value ( NOTE:Only 'j' character can be used as imaginary number.

complex

In [ ]:
#2.Boolean Data Types (True or False)

In [26]:
type(True)

bool

In [28]:
type(False)

bool

In [30]:
type(1>5)#Used for Operation or Comparison.etc

bool

In [32]:
1>5 #Case 1

False

In [34]:
1 == 1 #Case 2

True

In [ ]:
#3.Sequence Data Types( Strings, Lists, Tuples, Ranges )

In [ ]:
#--Strings--

In [76]:
'Single Quote'

'Single Quote'

In [72]:
"Double Quote"

'Double Quote'

In [78]:
triple_double_quote = """ #Also known as Multi-line which can include Double Quotes also.

Triple Double Quote 
Used for writing 
Multiples lines .

"""

In [48]:
print (triple_double_quote)

Triple Double Quote
Used for writing
Multiples lines .

In [62]:
#Use of Double Quote
# Double Quote is used to prevent syntax error if we have a single ( ' ) quote in the sentence or string.
" I'll always do 1% percent improvement in me  each and everyday, no matter what "

" I'll always do 1% percent improvement in me  each and everyday, no matter what "

In [64]:
#Use of Triple Double Quote
# Triple Double Quote is used to prevent syntax error if we have a double ( " ) quote in the sentence or string.
""" He said "I'll always do 1% percent improvement in me each and everyday , no matter what". """

' He said "I\'ll always do 1% percent improvement in me each and everyday , no matter what". '

In [66]:
triple_double_quote = """ He said "I'll always do 1% percent improvement in me  each and everyday , no matter what". """
print (triple_double_quote)

 He said "I'll always do 1% percent improvement in me  each and everyday , no matter what".

In [ ]:
##Searching String with INDEX

In [ ]:
#NOTE : String Indexing starts with 0 .
#Just give a glance to every code below you will understand it very easily:

In [102]:
a = 'Namaste to Everyone'
print (a[5])      #5th Position character. (NOTE:Index starts from 0) 

#Explanation:

#a = 'Namaste to Everyone': This creates a string variable a and assigns it the value 'Namaste to Everyone'.
#a[5]: The square brackets ([]) are used to access specific characters in the string a. Strings in Python are zero-indexed, which means indexing starts at 0.

#   a[0] is 'N'
#   a[1] is 'a'
#   a[2] is 'm'
#   a[3] is 'a'
#   a[4] is 's'
#   a[5] is 't'
#   print(a[5]): This will output the 6th character of the string (as indexing starts from 0), which is 't'.

t

In [118]:
a = 'Namaste to Everyone'
print (a[:5])    #Including 0 and return the word that comes before the 5th character.
                 # ':' is used for slicing.

Namas

In [122]:
a = 'Namaste to Everyone'
print (a[5:])           #Returning Everything after 5th and including 5th also becuase because ':' semi-colon sign is after the Character Index value.

te to Everyone

In [116]:
a = 'Namaste to Everyone'
print (a[-5])              #In negative sign Indexing starts from Reverse[-1]. 
                           #Negative Indexing:
                           #* a[-1] refers to the last character of the string.
                           #* a[-2] refers to the second-to-last character, and so on.

r

In [124]:
a = 'Namaste to Everyone'
print (a[:-5])          #Will exclude till the 5th character from reverse[-5] because ':' semi-colon sign is before the Character Index value.
                        #NOTE :  #In negative sign Indexing starts from Reverse[-1].

Namaste to Eve

In [126]:
a = 'Namaste to Everyone'
print (a[-5:])           #Since ':' semi-colon sign is after the Character Index value therefore, it will include the 5th character form Reverse.

#Explanation:
# 1.Negative Indexing:
# *Negative indices count from the end of the string.
# *a[-5] corresponds to 'r' (the 5th character from the end).

# 2.Slicing Syntax:
# *a[-5:] means "start from the character at index -5 and include all characters to the end of the string".

ryone

In [106]:
a = 'Namaste to Everyone'
print (a[2:5])              #Character 2nd -to- 5th (NOTE:Index starts from 0) 
                            #Explanation:
                            #*Slicing Syntax:
                            # a[2:5] extracts characters from index 2 (inclusive) to 5 (exclusive).
                            # The slice includes the characters at positions 2, 3, and 4.

mas

In [ ]:
#Arithmetic Operation in string

In [128]:
a*3

'Namaste to EveryoneNamaste to EveryoneNamaste to Everyone'

In [130]:
a + a

'Namaste to EveryoneNamaste to Everyone'

In [ ]:
#--List--

In [ ]:
#NOTE: List can store multiple separater values.

In [134]:
[1,2,3,4,5]   #',' separates and shows that they are different values.
              # It has same Indexing Method as the String (Indexing starts from [0] and in Reverse Indexing starts from [1] or [-1]

[1, 2, 3, 4, 5]

In [136]:
['Apple','Banana','Mango']

['Apple', 'Banana', 'Mango']

In [138]:
['Apple','Banana',[1,2,3,4,5] , True ]   #ADVANTAGE: Different data types can be used in a single list and Nested List option is also available.

['Apple', 'Banana', [1, 2, 3, 4, 5], True]

In [146]:
fruits_name = ['Apple','Banana','Mango']
fruits_name.append ('Grapes')           #ADVANTAGE: We can also change or update the data,values or elements in the list even when time for calling.
fruits_name

['Apple', 'Banana', 'Mango', 'Grapes']

In [152]:
fruits_name [0] = 'Pineapple'#ADVANTAGE: We can change or update the elements of the list Even by the Particular Index.
fruits_name               # Here we have replaced the Index [0] element which was'Apple' to the Assigned Element at fruits_name [0] which is 'Pineapple'

['Pineapple', 'Banana', 'Mango', 'Grapes']

In [156]:
nested_list = ['Apple','Banana',[1,2,3,4,5] , True ] 
nested_list [2]

[1, 2, 3, 4, 5]

In [182]:
nested_list = ['Apple','Banana',[1,2,3,4,5] , True ] 
nested_list [2][3]    #Here we get the 3rd Index Element '4' of the 2nd Index Element that is [1,2,3,4,5]. NOTE:Indexing starts from [0].
#Perform trial and check here and guess the result for better understanding (Practise Here)

4

In [180]:
nested_list = ['Apple','Banana',[1,2,3,4,5] , True ] 
nested_list [2][3],['Rishi','Raj']     #Here we have added one more list to the result(output) that is  ['Rishi', 'Raj'].
#Perform trial and check here and guess the result for better understanding (Practise Here)

(4, ['Rishi', 'Raj'])

In [176]:
nested_list = ['Apple','Banana',[1,2,3,4,5] , True ] 
nested_list [1][3]    #Here we get the 3rd Index element 'a' of the 1st Index element 'Banana'. 
#Perform trial and check here and guess the result for better understanding (Practise Here)

'a'

In [ ]:
#--Tuples--